
<div id= "about_container"> 
  <div id="about_banner" class= "about_bannerClass"> 
    <div id="about_text"> 
     <br>  
      <h1>About Us</h1>
    </div>
  </div>
</div>

<div class="container">
  
    <div class="row">
      <h1>Samuel F. Cabral</h1>
      <p>Prior to embarking on the <a href="https://generalassemb.ly/education/web-development-immersive">WDI program at GA</a>, Sam worked at <a href="http://www.reputation.com">Reputation.com</a> as Team Lead of Special Projects and Manager of the Search and Web Publishing teams.  Before moving to Silicon Valley Sam spent over ten years working in the cruise industry where he traveled to over 60 countries around the world.  Sam has a Bachelors of Science Degree in Technical Management and a Masters in Business Administration (MBA) with a concentration in entrepreneurship. In his spare time he enjoys reading, hiking, playing golf and playing music. He is happily married to his beautiful wife Cassandra.</p>
      <p><em>Contact information:</p>
      <p>Phone: 650-722-2615</p>
      <p>Email: samfcabral@gmail.com</p>
      <p><a href="http://www.linkedin.com/in/samuelcabral/">LinkedIn  | </a><a href="https://github.com/Samfcabral">Github  | </a><a href="https://www.twitter.com/samfcabral">Twitter</a></p></em>
    </div>

    <div class="row">
      <h1>Andrew D. Pohl</h1>
      <p>Andrew Pohl is a junior full-stack web developer, currently living in the San Francisco Bay Area.  After spending the better part of his adult life as a musician and working in non-profits with children, he ventured into a new career path in programming, beginning with course work at General Assembly.  Outside of development, Andrew enjoys live music, writing for various music blogs, performing with whichever band he happens to be in at the time, operating his record label Sell The Heart Records, working out, traveling, and random high-fives.</p>
      <p><em>Contact information:</p>
      <p>Phone: 707-478-9352</p>
      <p>Email: andrewdpoh@gmail.com</p>
      <p><a href="http://www.linkedin.com/in/andrewdpohl/">LinkedIn  | </a><a href="https://github.com/andrewdpohl">Github  | </a><a href="https://www.twitter.com/selltheheart">Twitter</a></em></p>
    </div>

    <div class="row">
      <h1>Sandra Stark</h1>
      <p>Sandra lives and works in San Francisco, California. She studied art and Maryland Institute, College of Art. She follows politics, and enjoys thinking about how systems could be better.  In her free time she likes to work on her trailer, in Manchester, Ca.</p>
      <p><em>Contact information:</p>
      <p>Phone: Nanya</p>
      <p>Email: sandra@sandrastark.net</p>
      <p><a href="https://www.linkedin.com/in/sandrastark">LinkedIn  | </a><a href="https://github.com/sioux-stark">Github</a></em></p>
    </div>
  </div>
</div>
</div>