// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  font-family: 'Lato', sans-serif;
 
}

.alert_message {
  color: red;
}

footer {
  margin-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 25px;
  padding-top: 25px;
  background: #BACBD9;
}


